*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}
.cabeçalho {
    background-image: linear-gradient(#7FCAEC,#FFFFFF);
    color: #3F0D93;
    display: flex;
   justify-content: space-between; 
}
.cabeçalho-logo{
    width: 10%;
    height: 10%;
}
.Matemática{
    background-image: linear-gradient(#62CDFF,#62CDFF);
    color: #3F0D93;
    width: 1440px;
    height: 300px;
}
.Matemática-titulo{
    padding-top: 80px;
    text-align: left;
    font-size: 64px;
}
    
